{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Faça login ou crie sua conta para poder interagir com o fórum</h1>
    <hr>
    <div class="row">
        <div class="col">
            <form method="POST" action="" class="border p-4 mt-2">
                {{ form_login.csrf_token }}
                <legend>Login</legend>
                <fieldset>
                    <!-- login -->
                    <!-- email -->
                    <div class="form-group">
                        {{ form_login.email.label (class="form-control-label")}}

                        {% if form_login.email.errors %}
                            {{ form_login.email (class="form-control is-invalid")}}
                            
                        <div class="invalid-feedback">
                            {% for erro in form_login.email.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        
                        
                        {% else %}
                            {{ form_login.email (class="form-control") }}
                        {% endif %}                       
                    </div>
                    <!-- senha -->
                    <div class="form-group"> 
                        {{ form_login.senha.label (class="form-control-label")}}

                        {% if form_login.senha.errors %}
                        {{ form_login.senha (class="form-control is-invalid")}}
                        
                    <div class="invalid-feedback">
                        {% for erro in form_login.senha.errors %}
                            {{ erro }}
                        {% endfor %}
                    </div>                    
                    {% else %}
                        {{ form_login.senha (class="form-control") }}
                    {% endif %}
                    </div>
                    <!-- botao check -->
                    <div class="form-group">
                        {{ form_login.lembrar_dados.label (class="form-check-label")}}
                        {{ form_login.lembrar_dados (class="form-check-input") }}
                    </div>
                </fieldset>    
                <!-- botao submiit  -->
                {{ form_login.botao_submit_login (class="btn btn-primary mt-2") }}
            </form>
        </div>
        <!-- form criar conta  -->
        <div class="col">
            <form method="POST" action="" class="border p-4 mt-2">
                {{ form_login.csrf_token }}
                <legend>Criar Conta</legend>
                <fieldset>
                    <!-- username  -->
                    <div class="form-group">
                        {{ form_criarconta.username.label (class="form-control-label") }}
                        
                        {% if form_criarconta.username.errors %}
                            {{ form_criarconta.username (class="form-control is-invalid")}}
                            
                        <div class="invalid-feedback">
                            {% for erro in form_criarconta.username.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        
                        
                        {% else %}
                            {{ form_criarconta.username (class="form-control") }}
                        {% endif %}   
                    </div>
                    <!-- email  -->
                    <div class="form-group">
                        {{ form_criarconta.email.label (class="form-control-label") }}

                        {% if form_criarconta.email.errors %}
                            {{ form_criarconta.email (class="form-control is-invalid")}}
                            
                        <div class="invalid-feedback">
                            {% for erro in form_criarconta.email.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        
                        
                        {% else %}
                            {{ form_criarconta.email (class="form-control") }}
                        {% endif %}  
                    </div>
                    <!-- empresa  -->
                    <div class="form-group">
                        {{ form_criarconta.empresa.label (class="form-control-label") }}
                        {{ form_criarconta.empresa (class="form-control") }}
                    </div>
                    <!-- funcao  -->
                    <div class="form-group">
                        {{ form_criarconta.funcao.label (class="form-control-label")}}
                        {{ form_criarconta.funcao (class="form-control") }}
                    </div>
                    <!-- senha  -->
                    <div class="form-group">
                        {{ form_criarconta.senha.label (class="form-control-label")}}
                        {% if form_criarconta.senha.errors %}
                            {{ form_criarconta.senha (class="form-control is-invalid")}}
                            
                        <div class="invalid-feedback">
                            {% for erro in form_criarconta.senha.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        
                        
                        {% else %}
                            {{ form_criarconta.senha (class="form-control") }}
                        {% endif %}  
                    </div>
                    <!-- confirmacao senha  -->
                    <div class="form-group">
                        {{ form_criarconta.confirmacao_senha.label (class="form-check-label")}}
                        {% if form_criarconta.confirmacao_senha.errors %}
                            {{ form_criarconta.confirmacao_senha (class="form-control is-invalid")}}
                            
                        <div class="invalid-feedback">
                            {% for erro in form_criarconta.confirmacao_senha.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        
                        
                        {% else %}
                            {{ form_criarconta.confirmacao_senha (class="form-control") }}
                        {% endif %}  
                    </div>
                </fieldset>
                {{ form_criarconta.botao_submit_criarconta (class="btn btn-primary mt-2")}}
        </form>

        </div>
    </div>
    
</div>
{% endblock %}

